@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../static/font/PretendardVariable.woff2") format("woff2-variations");
}

.stack > * {
  transform: none !important;
}
